.navbar-default{
     background-color:green
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color:green,
    color:red
}

.navbar-default .navbar-nav>li>a{
    color:#fff;
     font-weight: bold;
}